{% extends "base.html" %}

{% block app_content %}

<div class="row" >
	<div class="col-sm-9" style="margin-top: 22px;">
		{% block page_content %}{% endblock %}
	</div>

	<div class="col-sm-3 divCenter" style="background-color: rgba(79, 148, 250, 0.527);">
		<br>
		<div class="row">
			<input id="idmanautoToggle" type="checkbox" data-toggle="toggle" data-on="<i class='bi bi-joystick'></i> MANUAL" 
				data-off="AUTO" 
				data-size="large" data-onstyle="danger" data-offstyle="warning" data-style="android"
				data-width="200" data-height="100" checked>
		</div>
		<br>
		<div class="table-responsive">
			<button id="idsmState" type="button" class="nopointer btn btn-info pull-left">SM:STATE</button>
			<button id="idcurMap" type="button" class="nopointer btn btn-info pull-left" style="margin-left: 5px;">CURRENT MAP:blank0</button> 
			<a id="idcancelGoal" type="button" class="btn btn-danger pull-left" style="margin-left: 5px;" href="{{ url_for('panels.cancelgoal') }}">CANCEL GOAL</a> 
			<table class="table table-bordered">
			  <tr id="idrobotStatus">
				  <td data-toggle="tooltip" data-placement="top" title="emergency">E</td>
				  <td data-toggle="tooltip" data-placement="top" title="localization">L</td>
				  <td data-toggle="tooltip" data-placement="top" title="connectivity">C</td>
				  <td data-toggle="tooltip" data-placement="top" title="manual/auto">M/A</td>
				  <td data-toggle="tooltip" data-placement="top" title="hardware">H</td>
				  <td data-toggle="tooltip" data-placement="top" title="heartbeat">Hb</td>
			  </tr>
			</table>
		</div>

		<input id="idsensorToggle" type="checkbox" data-toggle="toggle" data-on="<i class='glyphicon glyphicon-blackboard'></i> Show Sensors" 
				data-off="<i class='glyphicon glyphicon-eye-close'></i> Hide Sensors" 
				data-size="large" data-onstyle="success" data-offstyle="default" data-style="android quick" checked>

		<div id="idsensorStatusDiv" class="table-responsive">
			<table class="table table-bordered">
			  <tr id="idsensorStatus">
				  <td data-toggle="tooltip" data-placement="top" title="rear ir sensor">rs</td>
				  <td data-toggle="tooltip" data-placement="top" title="front ir sensors">fs</td>
				  <td data-toggle="tooltip" data-placement="top" title="ros websocket">wb</td>
				  <td data-toggle="tooltip" data-placement="top" title="camera">c</td>
				  <td data-toggle="tooltip" data-placement="top" title="lidar">li</td>
				  <td data-toggle="tooltip" data-placement="top" title="imu">imu</td>
				  <td data-toggle="tooltip" data-placement="top" title="left-motor">lm</td>
				  <td data-toggle="tooltip" data-placement="top" title="right motor">rm</td>
			  </tr>
			</table>
		</div>

		<div id="idfeedbackVelDiv" class="visual">
			<p><span style="font-size: large; font-weight: 300;" id="idfeedbackVel">0</span> mm/s</p>
		</div>

		<div id="idctrlDiv">
			<div id="zone_joystick" style="position: relative;"></div>
			<div id="idchartDiv">
				<canvas id="myChart">Your browser does not support the canvas element.</canvas>
			</div>
			<a id="idtoggleStatus" class="btn btn-lg btn-warning">
				<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> System Status</a>
		</div>
	</div>

	<!-- MAN/AUTO Modal -->
	<div id="idautomodeModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<!--button type="button" class="close" data-dismiss="modal">&times;</button-->
				<h4 class="modal-title"> OPERATIOR CAUTION !!</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to switch robot to AUTOMATIC mode?</p>
			</div>
			<div class="modal-footer">
				<button id="idbtnYesAutomode" type="button" class="btn btn-danger" data-dismiss="modal">YES</button>
				<button id="idbtnNoAutomode" type="button" class="btn btn-primary" data-dismiss="modal">NO</button>
			</div>
		</div>
		</div>
	</div>
	<!-- RobotState Modal -->
	<div id="idrobotStateModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"> OPERATIOR CAUTION !!</h4>
			</div>
			<div class="modal-body">
				<p>Make sure system states are ALL 'GREEN' not 'RED' except [M/A] and system in 'IDLE' or 'ERROR' state</p>
			</div>
			<div class="modal-footer">
				<button id="idbtnNoAutomode" type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>
			</div>
		</div>
		</div>
	</div>
	
</div>
    
{% endblock %}
