html, body {
    display: flex;
    flex-flow: column;
    
    background-color:#405C6B;
  }

.box{
    /*background-image: url(https://source.unsplash.com/Q7PclNhVRI0);*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.container{
    height: 100%;
    width: 96%;
    background: rgba(20, 20, 20, 0.616);
    backdrop-filter: blur(8px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    min-width: 400px;
    min-height: 600px;
}

.container > div{
    padding: 20px;
}

.visual-bg{
    background-color: white;
}
.visual{
    border: 1px solid rgb(190, 35, 14);
}
.divCenter{
    width: 25%;
    text-align: center;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#zone_joystick{
    margin: 80px;
    border: 2px solid rgb(239, 243, 0);
}

#idbaseVelocity{
    text-align: center;
    align-items: center;
}

#idbaseVelocity > input{
    width: 60px;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2px;
}

#idchartDiv{
    background: rgba(255, 255, 255, 0.349);
    border: 1px solid rgb(0, 0, 0);
    height: 150px; 
    width: 300px; 
    position: relative;
    margin: 0 auto;
    display: none;
}

#idctrlDiv{
    display: inline-block;
    min-width: 300px;
    width: 335px;
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
    background-color: #246d97;
}
#idsmState{
    margin-top: 15px;
    margin-bottom: 3px;
}
#idfeedbackVelDiv{
    width: 100px;
    margin: 0 auto;
    border: 4px solid rgb(14, 190, 161);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.418);
    box-shadow: -6px -6px 1px 4px rgba(14, 190, 161, 0.473) inset;
}
#video-overlay {
    display: none;
    width: 60px;
    height: 60px;
  }
.sideBSide_A{
    float:right;
    margin-right: 19%;
}
.sideBSide_B{
    float: right;
}
.clearfix{
    clear:both
}
ul > li{
    background-color:rgb(241, 222, 170); 
}
ul > li > a{
    color: black;
}
ul > li.active { background:rgb(255, 196, 4); }
.navbar{
    padding-top: 5px;
}
.navbar > div > span {
    margin-top: 15px;
    padding: 10px;
    background-color: #246d97;
    font-weight: bold;
    color: yellow;
    border-left: 5px yellow solid;
}
.toggle.android { border-radius: 0px;}
.toggle.android .toggle-handle { border-radius: 0px; }
.table{
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 35px;
}
.modal-backdrop {
    z-index: -1;
  }
div > #idloginDiv{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}
div > #idloginDiv > div{
    width: 70%;
    margin: 0 auto;
}
.available{
    background-color: rgb(131, 219, 104);
}
.unavailable{
    background-color: rgb(150, 39, 39);
}
.connected{
    background-color: rgb(106, 179, 84);;
    color: white;
}
.connected.btn:hover{
    color: white !important;
}
.semi-connected{
    background-color: rgb(224, 172, 30);
    color: black;
}
.semi-connected.btn:hover{
    color: black !important;
}
.disconnected{
    background-color: rgb(161, 30, 30);
    color: white;
}
.disconnected.btn:hover{
    color: white !important;
}
.nopointer{
    pointer-events: none;
    cursor: not-allowed;
}
.divSize{
    width: 800px;
    height: 380px;
    /*margin: 0 auto;*/
}
.divBackDrop{
    padding: 20px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background: rgba(20, 20, 20, 0.705);
}
#idstreamControlsDiv{
    padding-left: 16px;
    padding-right: 16px;
}