{% extends "robot_op.html" %}

{% block page_content %}

<div class="divBackDrop">
    <div id="idcameraStreamDiv" class="divSize" style="width: 90%;">
        <img id="idimgStream" style='height: 100%; width: 30%; object-fit: contain' src="{{url_for('static', filename='img/play_64.png') }}">
        <video id="idvideoTag" class="pull-right" src=""
        autoplay="autoplay" style='height: 100%; width: 70%; object-fit: contain' onclick="(this.paused)? this.play() : this.pause()" 
        poster="{{url_for('static', filename='img/play.png') }}" controls>
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="clearfix"></div>
</div>
<br>

<div id="idstreamControlsDiv" class="row">
    <input id="idcameraToggle" type="checkbox" data-toggle="toggle" data-on="<i class='glyphicon glyphicon-flash'></i> CAM ON" 
                data-off="<i class='glyphicon glyphicon-off'></i> CAM OFF" 
				data-size="large" data-onstyle="success" data-offstyle="default" data-style="ios quick" checked>
    <input id="idgoalToggle" type="checkbox" data-toggle="toggle" data-on="<i class='glyphicon glyphicon-move'></i> MAP CTL" 
                data-off="<i class='glyphicon glyphicon-pushpin'></i> SEND CMD" 
				data-size="large" data-onstyle="default" data-offstyle="success" data-style="ios quick" checked>
    <input id="idinitPosToggle" type="checkbox" data-toggle="toggle" data-on="<i class='glyphicon glyphicon-pushpin'></i> INITIAL POS." 
                data-off="<i class='glyphicon glyphicon-map-marker'></i> SEND GOAL" 
				data-size="large" data-onstyle="primary" data-offstyle="success" data-style="ios quick" checked>
    
    <div class="pull-right">
        <button id="idcaptureImage" type="button" class="btn btn-lg btn-info">
            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> CAPTURE
        </button> 
        <input id="idrecordToggle" type="checkbox" data-toggle="toggle" data-on="<i class='glyphicon glyphicon-record'></i> REC. VIDEO" 
                data-off="<i class='glyphicon glyphicon-stop'></i> END REC." 
                data-size="large" data-onstyle="danger" data-offstyle="primary" data-style="ios quick" checked>
    </div>
</div>
<br>

<div class="divBackDrop">
    <div id="idmapVisualDiv" class="divSize sideBSide_A" style="width: 80%;" ></div>
    <div class="sideBSide_B" style="color: white;">
        <p>SHIFT + drag = PAN </p>
        <p>CTRL + drag =  ZOOM </p>
        <btn id="idresetZoom" class="btn btn-small btn-success">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> RESET ZOOM</btn>
        <br>
        <btn id="idresetPan" class="btn btn-small btn-success" style="margin-top: 5px;">
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> RESET PAN</btn>
    </div>
    <div class="clearfix"></div>
</div>
<br>

<!-- Video Record modal -->
<div id="idrecordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> VIDEO RECORDING</h4>
        </div>
        <div class="modal-body">
            <p>Do you wish to save the recorded session?</p>
        </div>
        <div class="modal-footer">
            <button id="idbtnSaveVideo" type="button" class="btn btn-success" data-dismiss="modal">SAVE</button>
            <button id="idbtnCancelVideo" type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
    </div>
</div>
{% endblock %}
